<!DOCTYPE html>
<html>
    <head>
      <% include ../partials/header.ejs %>
    </head>

    <body>

        <% include ../partials/nav.ejs %>

        <div class="jumbotron text-center">
          <div class="container">
            <a href="/" class="giftr-logo">
              <img src="/giftr_logo.png">
            </a>
            <h1>Fernfachhochschule Schweiz FFHS</h1>
            <h2>BSc Inf 2013 - InnT</h2>
            <h3>Aufsetzen einer PaaS Umgebung</h3>
            <p>Das Aufsetzen der PaaS Umgebung ist gelungen. Nun sollten wir noch einen Service erstellen und ein paar Daten von diesem Service laden.</p>
          </div>
        </div>
    </body>
</html>
